<!--footer-->
<footer>
    <div class="content fl_row main_section footer_section">
		<a href="https://t.me/betreiniran" id="banner_1" target="_blank" style="width: 300px;">
			<img src="/images/advertise/20201023_134002.gif" alt="advertise" />
		</a>
    </div>
</footer>
<script src="/javascripts/script.js"></script>

</body>
</html>
