<!doctype html>
<html>
<head>
    <title>سایت اعلام نتایج زنده فوتبال ایران و جهان</title>
    <meta name="description" content="آمار معتبر از لیگ های‌ برتر ، نتیجه لحظه‌ای بازی های فوتبال ، معتبر ترین سایت آمار و نتایج">
    <link rel="shortcut icon" type="image/png" href="/images/content/logo444-without-text-small.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/stylesheets/datepicker.min.css" rel="stylesheet" type="text/css">

<!--    <link rel="stylesheet" href="/javascripts/tavo-calendar/tavo-calendar.css" />-->
<!--    <script src="/javascripts/tavo-calendar/tavo-calendar.js"></script>-->


<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->

    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css" />
<!--    <script src = "/javascripts/jquery-3.2.1.min.js"></script>-->
<!--    <script src = "/javascripts/jquery-ui.min.js"></script>-->
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src = "/javascripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" ></script>
    <script><%if(lang === 'en'){%></script>
        <style>
            .fl_row{
                display: flex !important;
                flex-direction: row;
            }
            .fl_row_reverse{
                display: flex;
                flex-direction: row-reverse !important;
                text-align: right;
            }
        </style>
    <script><%}else {%></script>
        <style>
            .fl_row{
                display: flex;
                flex-direction: row-reverse;
            }
            .fl_row_reverse{
                display: flex;
                flex-direction: row;
                text-align: left;
            }
        </style>
    <script><%}%></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177071511-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-177071511-1');
    </script>

</head>
<body>
<%- include components/banners/banner_1.ejs %>

<header>
    <div class="content fl_row fl_1 head_main">
        <a href="/" class="head_logo fl_1 fl_row">
            <img src="/images/content/logo444_horizontal.png" alt="logo" />
        </a>
        <div class="head_items fl_1 fl_row">
<!--            <div class="head_item">-->
<!--                <img src="/images/content/search-solid.svg" alt="search" />-->
<!--            </div>-->
            <div class="head_item">
                <img src="/images/content/cog-solid.svg" alt="search" />
            </div>
            <div class="head_langs">
                <img class="change_lang <% if(lang == 'en'){ %> active_lang <% } %>" data-lang="en" src="/images/content/US-128.png" alt="usa" />
                <img class="change_lang <% if(lang == 'ir'){ %> active_lang <% } %>" data-lang="ir" src="/images/content/iran.jpg" alt="iran" />
            </div>
            <% if(typeof userData == "undefined"){ %>
<!--                <div class="head_item __on_login mob_none" >-->
<!--                    <span class="login_button "><%=language[lang]['login']%></span>-->
<!--                </div>-->
<!--                <div class="head_item __on_reg mob_none">-->
<!--                    <span class="reg_button "><%=language[lang]['registration']%></span>-->
<!--                </div>-->
            <% }else{ %>
<!--            <div class="head_item_user mob_none">-->
<!--                <span class="__log_us"><%=userData.email%></span>-->
<!--                <div class="login_menu fl_colum fl_1">-->
<!--                    <div class="login_menu_item __on_change_password">Change password</div>-->
<!--&lt;!&ndash;                    <div class="login_menu_item">Account deletion</div>&ndash;&gt;-->
<!--                    <a href="/auth/logout" class="login_menu_item">Logout</a>-->
<!--                </div>-->
<!--            </div>-->
            <% } %>
<!--            <div class="pc_none">-->
<!--                <% if(typeof userData == "undefined"){ %>-->
<!--                    <div class="head_item __on_login">-->
<!--                        <img src="/images/content/user-regular.svg" alt="search" />-->
<!--                    </div>-->
<!--                <% }else{ %>-->

<!--                <% } %>-->
                <div class="head_item __on_open_menu pc_none">
                    <img src="/images/content/bars-solid.svg" alt="search" />
                </div>
<!--            </div>-->

        </div>
    </div>
    <div class="menu_popup">
        <div class="close_menu_popup"><img src="/images/content/times-solid.svg" alt="close"></div>
        <div class="categories_main">
            <%- include ../default/components/myLigasList.ejs %>
            <%- include ../default/components/banners/banner_3.ejs %>
            <%- include ../default/components/myTeamsStaticText.ejs %>
            <%- include ../default/components/countriesList.ejs %>
        </div>
    </div>
    <div class="login_popup">
        <div class="login_main">
            <div class="login_title"><%=language[lang]['login']%></div>
            <!--                <div class="socials_login">-->
            <!--                    <div>Facebook</div>-->
            <!--                    <div>Google</div>-->
            <!--                </div>-->

            <form method="post" action="auth/login">
                <div class="login_rows">
                    <input type="email" name="email" placeholder="<%=language[lang]['email']%>" required/>
                </div>
                <div class="login_rows">
                    <input type="password" name="password" placeholder="<%=language[lang]['password']%>"  minlength="6" required/>
                </div>
                <div class="login_rows">
                    <button class="login_form_btn"><%=language[lang]['login']%></button>
                </div>
                <div class="login_rows signup_button"><%=language[lang]['or']%> <span class="__on_reg"><%=language[lang]['sign_up']%></span></div>
                <div class="login_rows forgot_button"><%=language[lang]['forgot_password']%></div>
            </form>
        </div>
    </div>
    <div class="reg_popup">
        <div class="login_main">
            <div class="login_title"><%=language[lang]['registration']%></div>
            <!--                <div class="socials_login">-->
            <!--                    <div>Facebook</div>-->
            <!--                    <div>Google</div>-->
            <!--                </div>-->
            <form method="post" action="auth/sign-up">
                <div class="login_rows">
                    <input type="email" name="email" placeholder="<%=language[lang]['email']%>" required/>
                </div>
                <div class="login_rows">
                    <input type="password" name="password" placeholder="<%=language[lang]['password']%>"  minlength="6" required/>
                </div>
                <div class="login_rows">
                    <button class="login_form_btn"><%=language[lang]['sign_up']%></button>
                </div>
                <div class="login_rows signup_button"><%=language[lang]['or']%> <span class="__on_login"><%=language[lang]['login']%></span></div>
                <div class="login_rows forgot_button"><%=language[lang]['forgot_password']%></div>
            </form>
        </div>
    </div>
    <div class="change_pass_popup">
        <div class="login_main">
            <div class="login_title">Change Password</div>
            <form method="post" action="auth/pass-change">
                <div class="login_rows">
                    <input type="password" name="c_password" placeholder="Current password " minlength="6" required/>
                </div>
                <div class="login_rows">
                    <input type="password" name="n_password" placeholder="New password"  minlength="6" required/>
                </div>
                <div class="login_rows">
                    <button class="login_form_btn">Change Password</button>
                </div>
            </form>
        </div>
    </div>
    <div class="abs_layer"></div>
</header>
<% include menu.ejs %>
