<section id="menu">
    <div class="content fl_row fl_1 menu_all">
        <div class="menu_item menu_item_active">
            <img src="/images/test/football.svg" alt="img">
            <div class="sport_name"><%=language[lang]['football']%></div>
<!--            <div class="sport_num">2</div>-->
        </div>
<!--        <div class="menu_item">-->
<!--            <img src="/images/test/football.svg" alt="img">-->
<!--            <div class="sport_name">football</div>-->
<!--            <div class="sport_num">0</div>-->
<!--        </div>-->
<!--        <div class="menu_item">-->
<!--            <img src="/images/test/football.svg" alt="img">-->
<!--            <div class="sport_name">football</div>-->
<!--            <div class="sport_num">5</div>-->
<!--        </div>-->
<!--        <div class="menu_item">-->
<!--            <img src="/images/test/football.svg" alt="img">-->
<!--            <div class="sport_name">football</div>-->
<!--            <div class="sport_num">2</div>-->
<!--        </div>-->
    </div>
</section>
