<%- include ../../default/header.ejs %>

<section class="">
    <div class="content fl_row main_section">
        <div class="categories_main mob_none">
            <%- include ../../default/components/myLigasList.ejs %>
            <%- include ../../default/components/banners/banner_3.ejs %>
<!--            <%- include ../../default/components/myTeamsStaticText.ejs %>-->
            <%- include ../../default/components/countriesList.ejs %>
        </div>

        <div class="fl_1 games_main">
            <%- include ../../default/components/banners/banner_2.ejs %>
            <div class="games_by_liga cont_in_leg">
                <!--                <img class="loading_main" src="/images/content/loading-png-gif.gif" alt="loading">-->
                <div class="league_mains fl_1 fl_colum">
                    <div class="league_title fl_1 fl_row">
                        <img src="/images/test/football.svg" alt="ball" />
                        <span class="bold_font">FOOTBALL</span>
                        <img src="/images/content/chevron-right-white.svg" alt="right" />
                        <span class="pl_country"></span>
                    </div>
                    <div class="league_title fl_1 fl_row">
                        <div class="liga_logo  fl_row">
                            <img class="pl_img" src='/images/content/loading-png-gif.gif' alt="right" />
                        </div>
                        <div class="liga_name_s font_14 fl_1 fl_colum" data-player-id="<%=playerId%>">
                            <p><span class="bold_font pl_name"></span> </p>
                            <p><span class="pl_position"></span> <span class="pl_team"></span></p>
                            <p>Birthdate: <span class="pl_birthdate"></span></p>
                        </div>
                        <a href="#" class="liga_logo team_hr fl_row">
                            <img class="pl_team_logo" src='/images/content/loading-png-gif.gif' alt="right" />
                        </a>
                    </div>
                </div>
                <div class="page_result_data">
                    <div class="liague_top_menu fl_1 fl_row">
                        <div class="liague_top_menu_item liague_top_menu_active_item">Transfers</div>
                    </div>
                    <div class="transfers_main">
                        <div class="transfers_title fl_row fl_1">
                            <div class="fl_1 inj_row_p">From</div>
                            <div class="fl_1 inj_row_p">Until</div>
                            <div class="fl_1 inj_row_p">Injury</div>
                        </div>
                        <div class="transfers_row fl_row fl_1">
                            <div class="fl_1 inj_row_p">15.02.2020</div>
                            <div class="fl_1 inj_row_p">17.02.2020</div>
                            <div class="fl_1 inj_row_p">Rest</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ../../default/components/banners/banner_4.ejs %>
    </div>
</section>
<script src="/javascripts/football/setPlayerPageContent.js"></script>
<%- include ../../default/footer.ejs %>


<script>

</script>
