<!doctype html>
<html>
<head>
    <title>football</title>
    <link rel="shortcut icon" type="image/png" href="/images/content/logo444-without-text-small.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css" />
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/popup_style.css" />
    <script src = "/javascripts/jquery-3.2.1.min.js"></script>
    <script src = "/javascripts/jquery-ui.min.js"></script>
    <script src = "/javascripts/main.js"></script>
    <script><%if(lang == 'en'){%></script>
    <style>
        .fl_row{
            display: flex;
            flex-direction: row;
        }
        .fl_row_reverse{
            display: flex;
            flex-direction: row-reverse;
        }
    </style>
    <script><%}else {%></script>
    <style>
        .fl_row{
            display: flex;
            flex-direction: row-reverse;
        }
        .fl_row_reverse{
            display: flex;
            flex-direction: row;
        }
    </style>
    <script><%}%></script>
</head>
<body>
<header class="popup_head fl_1">
    <div class="popup_content fk_row">
        <img onclick="window.close();" src="/images/content/logo444_horizontal.png" alt="logo" />
    </div>
</header>
<section class="game_main_props">
    <div class="game_main_props_def">

    </div>
    <div class="bage_by_half_main fl_1 fl_colum">

    </div>
</section>
<input id="match_id" type="hidden" value="<%=matchId%>" />
<script src = "/javascripts/football/match.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>');
    var siteLang = getCookie('lang');
</script>
</body>
</html>

