<%- include ../../default/header.ejs %>

<section class="">
    <div class="content fl_row main_section">
        <div class="categories_main mob_none">
            <%- include ../../default/components/myLigasList.ejs %>
            <%- include ../../default/components/banners/banner_3.ejs %>
<!--            <%- include ../../default/components/myTeamsStaticText.ejs %>-->
            <%- include ../../default/components/countriesList.ejs %>
        </div>

        <div class="fl_1 games_main">
            <%- include ../../default/components/banners/banner_2.ejs %>
            <div class="games_by_liga cont_in_leg">
                <!--                <img class="loading_main" src="/images/content/loading-png-gif.gif" alt="loading">-->
                <div class="league_mains fl_1 fl_colum">
                    <div class="league_title fl_1 fl_row">
                        <img src="/images/test/football.svg" alt="ball" />
                        <span class="bold_font"><%=language[lang]['football']%></span>
                        <img src="/images/content/chevron-right-white.svg" alt="right" />
                        <% if(data.country.data.image_path){ %>
                        <img src="<%=data.country.data.image_path%>" alt="right" />
                        <%}%>
                        <span><a href="/football/country/<%=data.country.data.id%>"> <%=data.country.data.name%></a></span>
                    </div>
                    <div class="league_title fl_1 fl_row">
                        <div class="liga_logo  fl_row">
                            <img src="<%=data.logo_path%>" alt="<%=data.country.data.name%>" />
                        </div>
                        <div class="liga_name_s fl_1 fl_colum" data-season-id="<%=data.current_season_id%>" data-league-id="<%=data.season.data.league_id%>">
                            <p><%=data.name%>
<!--                                <span class="like_star-->
                                <% //for(var i = 0; i < likeLeagues.length; i++ ){
                                    // if(likeLeagues[i].sportmonks_id == data.id){ %>
<!--                                         like_star_active-->
                                <% //} } %>
<!--                                ">&#9733;</span></p>-->
                            <p><%=data.season.data.name%></p>
                        </div>
                    </div>
                </div>
                <div class="liague_top_menu fl_1 fl_row">
<!--                    <div class="liague_top_menu_item liague_top_menu_active_item" data-type="1">Summary</div>-->
                    <div class="liague_top_menu_item liague_top_menu_active_item" data-type="2"><%=language[lang]['results']%></div>
                    <div class="liague_top_menu_item" data-type="3"><%=language[lang]['fixtures']%></div>
                    <div class="liague_top_menu_item" data-type="4"><%=language[lang]['standings']%></div>
<!--                    <div class="liague_top_menu_item" data-type="5">Archive</div>-->
                </div>
                <div class="page_result_data">

                </div>
            </div>
        </div>
        <%- include ../../default/components/banners/banner_4.ejs %>
    </div>
    <script>
        var languages = JSON.parse('<%- JSON.stringify(language) %>');
        var siteLang = getCookie('lang');
    </script>
</section>
<script src="/javascripts/football/setLeaguesPageContent.js"></script>
<%- include ../../default/footer.ejs %>


<script>

</script>
