<!doctype html>
<html>
<head>
    <title>football</title>
    <link rel="shortcut icon" type="image/png" href="/images/content/logo444-without-text-small.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css" />
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/popup_style.css" />
    <script src = "/javascripts/jquery-3.2.1.min.js"></script>
    <script src = "/javascripts/jquery-ui.min.js"></script>
    <script src = "/javascripts/main.js"></script>
    <script><%if(lang == 'en'){%></script>
    <style>
        .fl_row{
            display: flex;
            flex-direction: row;
        }
        .fl_row_reverse{
            display: flex;
            flex-direction: row-reverse;
        }
    </style>
    <script><%}else {%></script>
    <style>
        .fl_row{
            display: flex;
            flex-direction: row-reverse;
        }
        .fl_row_reverse{
            display: flex;
            flex-direction: row;
        }
    </style>
    <script><%}%></script>
</head>
<body>
<header class="popup_head fl_1">
    <div class="popup_content ">
        <img  onclick="window.close();" src="/images/content/logo444_horizontal.png" alt="logo" />
    </div>
</header>
<section class="game_main_props">
    <div class="popup_content ">
        <div class="fl_1 games_main">
            <div class="game_types fl_row">
                <div class="game_type active_game_type" data-type="1">Standings</div>
                <div class="game_type" data-type="2">Top Scorers</div>
                <div class="game_type" data-type="3">Top Assists</div>
            </div>

            <div class="games_by_liga">
                <img class="loading_main" src="/images/content/loading-png-gif.gif" alt="loading">
            </div>
        </div>
    </div>
</section>
<input type="hidden" value="<%=league_id%>" id="league_id_p">
<script src = "/javascripts/football/setPopupForLeague.js"></script>
</body>
</html>

