<%- include default/header.ejs %>

<section class="">
    <div class="content fl_row main_section">
        <div class="categories_main mob_none">
            <%- include default/components/myLigasList.ejs %>
            <%- include default/components/banners/banner_3.ejs %>
            <%- //include default/components/myTeamsStaticText.ejs %>
            <%- include default/components/countriesList.ejs %>
<!--            <%- include default/components/banners/banner_5.ejs %>-->
        </div>

        <div class="fl_1 games_main">
            <%- include default/components/banners/banner_2.ejs %>
            <div class="mob_none fl_colum">
                <div class="row_menu fl_row">
                    <% for(var i = 0; i < 3; i++){ %>
                    <a data-leagues-id="<%=likeLeagues[i].sportmonks_id%>" href="/football/league/<%=likeLeagues[i].sportmonks_id%>" class="row_menu_ss fl_1 fl_row">
                        <img src="<%=likeLeagues[i].logo_path%>" alt="<%=likeLeagues[i].name%>" />
                        <div><%=likeLeagues[i].name%></div>
                        <div id="row-live-<%=likeLeagues[i].sportmonks_id%>" class="row_menu_lives">LIVE</div>
                    </a>

                    <% } %>
                </div>
                <div class="row_menu fl_row">
                    <% for(var j = 3; j < 6; j++){ %>
                    <a href="/football/league/<%=likeLeagues[j].sportmonks_id%>" class="row_menu_ss fl_1 fl_row">
                        <img src="<%=likeLeagues[j].logo_path%>" alt="<%=likeLeagues[j].name%>" />
                        <div><%=likeLeagues[j].name%></div>
                        <div  class="row_menu_lives">LIVE</div>
                    </a>
                    <% } %>
                </div>
            </div>
            <div class="pc_none fl_colum">
                <div class="row_menu fl_row">
                    <% for(var i = 0; i < 2; i++){ %>
                    <a href="/football/league/<%=likeLeagues[i].sportmonks_id%>" class="row_menu_ss fl_1 fl_row">
                        <img src="<%=likeLeagues[i].logo_path%>" alt="<%=likeLeagues[i].name%>" />
                        <div><%=likeLeagues[i].name%></div>
                        <div class="row_menu_lives">LIVE</div>
                    </a>

                    <% } %>
                </div>
                <div class="row_menu fl_row">
                    <% for(var j = 2; j < 4; j++){ %>
                    <a href="/football/league/<%=likeLeagues[j].sportmonks_id%>" class="row_menu_ss fl_1 fl_row">
                        <img src="<%=likeLeagues[j].logo_path%>" alt="<%=likeLeagues[j].name%>" />
                        <div><%=likeLeagues[j].name%></div>
                        <div  class="row_menu_lives">LIVE</div>
                    </a>
                    <% } %>
                </div>
                <div class="row_menu fl_row">
                    <% for(var j = 4; j < 6; j++){ %>
                    <a href="/football/league/<%=likeLeagues[j].sportmonks_id%>" class="row_menu_ss fl_1 fl_row">
                        <img src="<%=likeLeagues[j].logo_path%>" alt="<%=likeLeagues[j].name%>" />
                        <div><%=likeLeagues[j].name%></div>
                        <div  class="row_menu_lives">LIVE</div>
                    </a>
                    <% } %>
                </div>
            </div>
            <div class="game_types fl_row">
                <div class="game_type " data-type="1"><%=language[lang]['all_games']%></div>
                <div class="game_type active_game_type" data-type="2"><%=language[lang]['live_games']%> <div class="sport_num"></div></div>
<!--                <div class="game_type" data-type="3">My <span class="mob_none">Games</span> <span class="game_type_span">0</span></div>-->
<!--                <div class="game_type" data-type="1">Odds</div>-->
                <div class="game_type" data-type="4"><%=language[lang]['finished']%></div>
<!--                <div class="game_type mob_none" data-type="5">Scheduled</div>-->
                <div class="calendar_main">
                    <input type="text" id="startsTime" class="datepicker-here"
                           data-date-format="yyyy-mm-dd" />
                    <img src="/images/content/calendar.svg"  alt="calendar"/>
                </div>
<!--                <div class="calendar_main"><div id="pnlSimpleCalendar" style="width:100%;"></div></div>-->
            </div>

            <div class="games_by_liga">
                <img class="loading_main" src="/images/content/loading-png-gif.gif" alt="loading">
            </div>
        </div>

        <%- include default/components/banners/banner_4.ejs %>
    </div>


</section>
<%- include default/footer.ejs %>

<!--<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
<!--<link rel="stylesheet" href="/javascripts/multilingual-calendar/jquery.calendar.css" />-->
<!--<script src="/javascripts/multilingual-calendar/jquery.calendar.js"></script>-->
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/datepicker.min.js"></script>
<script src="/javascripts/datepicker.en.js"></script>
<script src="/javascripts/football/setcontent.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>');
    var likeLeagues = JSON.parse('<%- JSON.stringify(likeLeagues) %>');
    var siteLang = getCookie('lang');
    var myDataPicker = $('.datepicker-here').datepicker({
        language: 'en',
        position: "bottom right",
        onSelect: function onSelect(formattedDate, date, inst) {
            // console.log('formattedDate',formattedDate)
            // console.log('date',date)
            // console.log('likeLeagues',likeLeagues)
            loadDataForOneDay(formattedDate);
        }
    });
    var currentDate  = new Date();
    myDataPicker.data('datepicker').selectDate(new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate()))


    $('#startsTime').attr("value","asd");
    // $(function () {
    //     $('#pnlSimpleCalendar').calendar();
    // });
</script>
