body{
    width: 100%;
    margin: 0px auto;
}
.popup_head {
    height: 50px;
    align-items: center;
    background: #2e2e2e;
}
.popup_head  img{
    width: 25%;
}
.popup_content {
    width: 95%;
    margin: 0px auto;
}
.game_main_props{

}
.game_mains{
    padding: 5px 8px;
    border-bottom: 1px solid #2e2e2e;
    background: #494949;
}
.game_mains_img{
    width: 27px;
    margin-right: 7px;
    height: 22px;
    overflow: hidden;
}
.game_mains_img > img{
    width: 100%;
}
.game_mains_text{
    font-size: 13px;
    color: #ffffff;

}
.game_mains_data{

}
.game_mains_country_name{
    text-transform: uppercase;
}
.game_mains_league_name{
    display: flex;
    margin-left: 7px;
    cursor: pointer;
}
.game_mains_league_name:hover{
    text-decoration: underline;
}
.game_teams{
    margin: 6px 0px;
    margin-bottom: 40px;
}
.game_team{
    color: #ffffff;
    align-items: center;
}
.game_team_logo{
    width: 80px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.game_team_logo > img{
    width: 80%;
}
.team_name{
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}
.game_num_result{
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_result{
    font-weight: bold;
    font-size: 32px;
}
.game_result_status{
    font-size: 14px;
    margin-top: 5px;
}
.f_team_data{
    flex-direction: row-reverse;
}
.s_team_data{
    flex-direction: row;
}
.bage_by_half_main{
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 25px;
}
.stats_row{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 7px 20px;
    border-bottom: 1px solid #0062933b;
}
.stats_row_name {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.stats_row_in {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.bage_by_half_part{
    margin-bottom: 5px;
}
.bage_by_half_title{
    background: #494949;
    padding: 7px 8px;
    font-weight: bold;
}
.bage_by_half_result{

}
.team_datas{
    background: #3a3a3a;
}
.team_datas_row{
    padding: 4px 7px;
    align-items: center;
}
.player_name{
    padding-right: 7px;
    padding-left: 7px;
    display: flex;
    align-items: center;
}
.card_type{
    width: 8px;
    height: 13px;
    border-radius: 2px;
    margin: 0px 5px;
}
.yellow_card{
    background: #f9c91e;
}
.red_card{
    background: #e64646;
}
.action_minute{
    padding: 0px 5px;
}
.goal_own{
    display: flex;
    width: 20px;
    margin: 0px 4px;
    height: 20px;
}
.goal_own > img{
    width: 100%;
    height: 100%;
}
.substitution_c > img{
    width: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
