body {
    font-family: Tahoma, "Geneva CE", "Lucida Sans", Arial, Helvetica, sans-serif;
    background-color: #181818;
}

a {

}
*{
    margin: 0;
    padding: 0;
}
a, a:active ,a:focus{
    text-decoration: none;
    color: inherit;
}
.clear:after{
    content: "";
    display: table;
    clear: both;
}

.content{
    width:1200px;
    margin: 0px auto;
}

.countries_main {
    height: 500px;
    overflow: hidden;
    flex: inherit !important;
    position: relative;
}
.fl_1{
    display: flex;
    flex: 1;
}
.fl_colum{
    flex-direction: column;
}
.countries_more > img{
    width: 6px;
    margin-left: 5px;
}
#banner_1{
    width: 100%;
    height: fit-content;
    background-color: #00406c;
    display: block;
}
#banner_1 > img{
    width: 100%;
    height: auto;
}
#banner_5{
    width: 100%;
    height: fit-content;
    background-color: #00406c;
    display: block;
}
#banner_5 > img{
    width: 100%;
    height: auto;
}
#banner_2{
    background: #00406c;
    height: fit-content;
    margin-bottom: 7px;
    /*display: none;*/
}
#banner_2 > img{
    width: 100%;
    height: auto;
}
#banner_3{
    background: #00406c;
    height: fit-content;
    margin-bottom: 7px;
}

#banner_3 > img{
    width: 100%;
    height: auto;
}
#banner_4{
    height: fit-content;
    background: #00406c;
    display: flex;
    width: 190px;
    margin-left: 7px;
    flex-direction: column;
    /*display: none;*/
}
.footer_section{
    align-items: center;justify-content: center;
}

header{
    background-color: #00406c;
}

.head_main{
    padding: 20px 0px;
    box-sizing: border-box;
}
.head_items {
    align-items: center;
    justify-content: flex-end;
}
.head_item{
    margin-left: 10px;
    cursor: pointer;
    padding: 7px;
    height: 35px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    user-select: none;
}
.head_item_user{
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    padding: 7px;
    height: 35px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    user-select: none;
    position: relative;
}
.login_menu{
    display: none;
    position: absolute;
    top: 35px;
    background: #404040;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}
.login_menu_active{
    display: flex;
}
.login_menu_item{
    padding: 6px 7px;
}
.login_menu_item:hover{
    background: #343434
}
.head_item > img{
    width: 20px;
}
.login_button{
    font-size: 12px;
    color: #ffffff;
    /*width: 55px;*/
    text-align: center;
    /*height: 35px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.head_item:hover{
    background-color: #3b3b3d;
}
.reg_button{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    width: 120px;
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0;
}
.reg_button:hover{
    background-color: #3b3b3d;
    text-decoration: underline;
}
.head_logo {
    width: 256px;
    flex: initial;
    align-items: center;
}
.result_no{
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.head_logo > img{
    height: 50px;
}
#menu{
    background-color: #006293;
}
.menu_item{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    box-sizing: border-box;
}
.menu_item_active{
    background-color: #181818;
}
.head_langs{
    margin-left: 10px;
    cursor: pointer;
    padding: 7px;
    height: 35px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    user-select: none;
}
.head_langs > img{
    width: 30px;
    margin: 5px;
}
.active_lang{
    border: 2px solid #006293;
    border-radius: 1px;
    box-sizing: border-box;
}
.like_star{
    font-size: 16px;
    cursor: pointer;
}
.like_star_active{
    color: #7f8300;
}
.menu_item > img{
    display: flex;
    width: 17px;
}
.sport_name{
    display: flex;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px 7px;
}
.sport_num{
    color: #ffffff;
    background-color: #db0100;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 5px;
    display: none;
}
.row_menu{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
.row_menu_ss{
    align-items: center;
    justify-content: space-evenly;
    background: #fefefe;
    color: #00406c;
    padding: 2px 10px;
    box-sizing: border-box;
    border: 2px solid #006293;
}
.row_menu_ss > img{
    width: 73px;
}
.row_menu_lives{
    background: #db0100;
    color: #ffffff;
    border-radius: 3px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    padding: 4px 5px;
    font-size: 16px;
    text-align: center;
    display: none;
}


.categories_main{
    /*display: flex;*/
    width: 190px;
    flex-direction: column;
    height: fit-content;
}
.menu_popup > .categories_main{
    width: 100%;
    flex-direction: column;
    height: 90%;
    overflow-x: scroll;
}
.cat_block{
    flex-direction: column;
    box-sizing: border-box;
    margin: 6px;
}
.cat_title{
    display: flex;
    align-items: center;
    background-color: #404040;
    box-sizing: border-box;
    padding: 4px 8px;
    height: 35px;
    flex: unset;
}
.cat_title > img{
    width: 22px;
}
.cat_title > div{
    color: #ffffff;
    font-size: 14px;
    margin-left: 7px;
    font-weight: bold;
}
.cat_row_main{
    background-color: #343434;
    display: flex;
    flex-direction: column;
}
.cat_row{
    display: flex;
    align-items: center;
    margin: 2px 0px;
    box-sizing: border-box;
    padding: 4px 8px;
}
.cat_row_ss{
    align-items: center;
}
.cat_row_ss > img{
    width: 25px;
}
.cat_row_ss > div{
    color: #ffffff;
    font-size: 12px;
    margin-left: 5px;
}
.del_leg{
    width: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /*display: flex;*/
    height: 15px;
    display: none;
}
.del_leg > img{
    width: 55%;
}
.cat_row:hover .del_leg{
    display: flex;
}
.like_teams_text{
    font-size: 11px;
    padding: 7px;
    color: #ffffff;
}
.like_teams_text > img{
    width: 14px;
}
.cat_country_name{
    font-size: 12px;
    color: #ffffff;
    padding: 2px 7px;
    cursor: pointer;
}
.cat_row:hover  {
    text-decoration: underline;
}
.cat_country_name:hover  {
    text-decoration: underline;
}
.games_main{
    flex-direction: column;
    margin-top: 6px;
}
.main_section{
    background-color:#222222;
}
.game_types{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    border-bottom: 3px solid #006293;
    position: relative;
    margin: 15px 0px 0px 0px;
}
.game_type{
    box-sizing: border-box;
    padding: 8px 15px;
    background: #343434;
    margin-right: 2px;
    flex-direction: row;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.game_type_span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6f6f6f;
    width: 18px;
    height: 18px;
    border-radius: 23px;
    font-size: 10px;
    margin-left: 5px;
}
.active_game_type{
    background: #006293;;
}
.games_by_liga{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #343434;
}
.g_l_title{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    height: 28px;
    padding: 0px 5px;
}
.g_l_title > div{
    display: flex;
    align-items: center;

}
.check_l_name{
    width: 30px;
    padding: 0px 0px !important;
    box-sizing: border-box;

}
.check_l_box{
    width: 11px;
    height: 11px;
    border: 1px solid #717171;
    cursor: pointer;
    margin: 0px auto;
}
.g_liga_flag{
    overflow: hidden;
    width: 24px;
    height: 24px;
}
.g_liga_flag > img{
    width: 100%;
}
.g_liga_names{
    font-size: 11px;
    font-weight: bold;
    flex: 1;
}
.g_liga_name:hover{
    text-decoration: underline;
}
.g_country_name{

}
.g_liga_name{
    padding-left: 5px;
    cursor: pointer;
}
.g_liga_standings{
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
.g_l_action{
    width: 20px;
    border-left: 1px solid;
    cursor: pointer;
}
/*.g_l_action:hover{*/
/*  background: #181818;*/
/*}*/
.g_l_action > img{
    width: 50%;
    margin: 0px auto;
}

.g_l_content_main{
    display: flex;
    flex-direction: column;
}
.g_l_content:hover{
    background: #161616
}
.loading_main{
    width: 30%;
    margin: 0px auto;
    display: flex;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
    align-self: center;
    margin: 0px auto;
}
.g_l_content{
    border-bottom: 1px solid #343434;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    height: 30px;
    font-size: 11px;
    cursor: pointer;
    background: #404040;
}
.g_c_time{
    display: flex;
    width: 65px;
    align-items: center;
    /*justify-content: center;*/
    font-size: 11px;
    padding-left: 10px;
}
.match_info_title {
    background: #494949;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-top: 2px solid #006293;
    border-bottom: 2px solid #006293;
}
.no_match_text{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin: 40px 0px;
}
.player_country_img{
    width: 23px;
    height: 14px;
    margin-right: 7px;
}
.li_team_name {
    padding: 7px 25px;
    border-top: 1px solid #006293;
    font-size: 14px;
    display: block;
}
.coach_name{
    padding: 6px 22px;
    font-weight: bold;
}
.group_stage_gr_title{
    color: #ffffff;
    padding: 5px 0px 5px 30px;
    font-size: 14px;
    margin-top: 10px;
}
.g_c_names{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.g_c_intime{
    color: #fb9797;
}
.g_c_extime{
    color: #ffffff;
    font-size: 8px;
}
.g_c_name_1{
    /*margin: 0px 10px;*/
    display: flex;
    flex: 1;
    /*flex-direction: row-reverse;*/
    padding: 0px 10px;
}
.g_c_num_detail_notlive{
    color: #ffffff;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}
.g_c_num_detail_live{
    color: #fb9797;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}
.g_c_num_detail_notlive > div,.g_c_num_detail_live > div{
    align-items: center;
    justify-content: center;
}
.g_c_name_2{
    /*margin: 0px 10px;*/
    display: flex;
    flex: 1;
    padding: 0px 10px;
}
.g_c_chanals{
    width: 11px;
    margin-right: 4px;
    cursor: pointer;
}
.g_c_lineups{
    width: 11px;
    margin-right: 4px;
    cursor: pointer;
}
.live_bet_button{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.live_bet_button > span{
    cursor: pointer;
    font-size: 8px;
    background: #db0100;
    padding: 2px 4px;
    border-radius: 1px;
}
.prev_live{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev_live > span{
    cursor: pointer;
    font-size: 8px;
    border: 1px solid #ffffff;
    padding: 2px 4px;
    border-radius: 1px;
}
.g_c_num_detail_prev{
    font-size: 8px;
    text-transform: uppercase;
    color: #909090;
    /*border: 1px solid #909090;*/
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.g_c_num_detail_prev > span{
    border: 1px solid #909090;
    padding: 2px 4px;
    font-weight: normal;
}
.login_popup{
    position: fixed;
    width: 340px;
    background: #343434;
    color: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    box-shadow: 0px 0px 7px 3px #006293;
    padding: 25px 25px;
    box-sizing: border-box;
    z-index: 9999;
}
.menu_popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #343434;
    color: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    padding: 25px 25px;
    box-sizing: border-box;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.close_menu_popup{

}
.close_menu_popup > img{
    width: 20px;
    margin-right: 5px;
}
.reg_popup{
    position: fixed;
    width: 340px;
    background: #343434;
    color: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    box-shadow: 0px 0px 7px 3px #006293;
    padding: 25px 25px;
    box-sizing: border-box;
    flex-direction: row;
    z-index: 9999;
}
.change_pass_popup{
    position: fixed;
    width: 340px;
    background: #343434;
    color: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    box-shadow: 0px 0px 7px 3px #006293;
    padding: 25px 25px;
    box-sizing: border-box;
    flex-direction: row;
    z-index: 9999;
}
.login_popup_active{
    display: flex;
}
.reg_popup_active{
    display: flex;
}
.login_main{
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    flex: 1;
}
.login_title{
    margin-bottom: 25px;
    font-size: 20px;
}
.login_rows{
    display: flex;
    flex: 1;
    align-items: center;
    height: 35px;
    margin-bottom: 10px;
}
.login_rows > input{
    width: 100%;
    /*border: 1px solid #008357;*/
    border: none;
    font-size: 14px;
    color: #ffffff;
    padding: 0px 10px;
    height: 100%;
    outline: none;
    background: #404040;
}
.login_form_btn{
    display: flex;
    width: 100%;
    height: 100%;
    background: #006293;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    border: none;
    color: #ffffff;
    outline: none;
}
.signup_button{
    justify-content: center;
    font-size: 14px;
    margin-bottom: 0px;
    height: 25px;
}
.signup_button > span{
    color: #ffffff;
    padding-left: 5px;
    cursor: pointer;

}
.forgot_button{
    cursor: pointer;
    justify-content: center;
    font-size: 11px;
    color: #ffffff;
}
.login_rows > input[type="password"]:invalid {
    border: 2px solid #008357;
}
.countries_more{
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0px;
    background: #343434;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}
.all_countries{
    position: fixed;
    background: black;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    padding: 14px;
    box-sizing: border-box;
    z-index: 77;
    display: none;
}
.all_countries > .cat_row{
    padding: 3px 5px;
    align-items: flex-start;
    flex: auto;
}
.cat_this_leagues{
    background: #3b3b3d;
    flex-direction: column;
    display: none;
}
.cat_this_leagues > a {
    display: flex;
    color: #ffffff;
    font-size: 10px;
    padding: 2px 15px;
    cursor: pointer;
}
.cat_this_leagues > a:hover{
    text-decoration: underline;
}
.league_mains{
    padding: 10px 0px;
}
.league_title{
    align-items: center;
    margin: 7px 0px;
}
.league_title > img{
    width: 20px;
    height: 12px;
}
.bold_font{
    font-weight: bold;
}
.button{
    display: none !important;
}
input#startsTime {
    background: #006293;
    border: none;
    text-align: center;
    color: #ffffff;
    width: 70%;
}
.calendar_main > img{
    width: 12%;
}
.league_title > span:first-child{
    font-weight: bold;
    font-size: 12px;
}
.league_title > span{
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    margin: 0px 5px;
}
.liga_logo{
    background: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.liga_logo > img{
    width: 82%;
}
.liga_name_s {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 12px;
    flex: none;
}
.calendar_main{
    box-sizing: border-box;
    margin-right: 2px;
    flex-direction: row;
    display: flex;
    height: 35px;
    cursor: pointer;
    user-select: none;
    width: 110px;
    justify-content: space-evenly;
    background: #006293;
}

.calendar header span {
    line-height: 35px !important;
}
.calendar header {
    height: 35px;
}
.calendar {
    border: 2px solid #00406c;
}
/*.calendar table , .calendar-frame{*/
/*  display: none;*/
/*}*/



.font_14 {
    font-size: 14px !important;

}
.liga_name_s > p {
    margin-top: 2px;
    margin-bottom: 2px;
}
.liga_name_s > p > img{
    width: 10px;
}
.cont_in_leg{
    background: #181818;
    padding: 0px 10px;
}
.liague_top_menu{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    border-bottom: 3px solid #006293;
}
.liague_top_menu_item{
    box-sizing: border-box;
    padding: 8px 15px;
    background: #343434;
    margin-right: 2px;
    flex-direction: row;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.liague_top_menu_active_item{
    background: #006293;
}
.standings_main{
    color: #ffffff;
}
.standings_title{
    font-size: 13px;
    align-items: center;
    background: #222222;
    height: 28px;
    flex: auto;
    color: #ffffff;
}
.standings_row{
    font-size: 12px;
    align-items: center;
    background: #404040;
    height: 25px;
    flex: auto;
    border-bottom: 1px solid #181818;
    color: #ffffff;
}
.standings_t_num{
    width: 28px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: inherit;
}
.standings_t_name{

}
.standings_t_mp{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_t_w{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_t_d{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_t_l{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_t_g{
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_t_pts{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_t_form{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_num{
    width: 28px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #343434;
    height: inherit;
}
.standings_name{
    align-items: center;
    margin-left: 8px;
}
.standings_name:hover{
    text-decoration: underline;
}
.standings_name > img{
    width: 20px;
    margin-right: 5px;
    margin-left: 3px;
}
.standings_mp{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_w{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_d{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_l{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_g{
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_pts{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_form{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standings_form_item{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    margin: 0px 1px;
    box-sizing: border-box;
}
.item_loose{
    background: #eb3f30;
}
.item_win{
    background: #44ac45;
}
.item_no_one{
    background: #ffb22f;
}
.num_color_blue{
    background: #004682;
}
.num_color_darkred{
    background: #7f0029;
}
.num_color_pink{
    background: #c71585;
}
.num_color_red{
    background: #bd0000;
}
.promotion_colors{
    color: #ffffff;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.promotion_qarg_f{
    width: 15px;
    height: 15px;
    margin-right: 7px;
}
.end_page_text{
    color: #ffffff;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.promotion_color {
    margin-bottom: 5px;
    align-items: center;
}
.load_more_button{
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result_content{
    color: #ffffff;
    font-size: 13px;
}
.round_title{
    align-items: center;
    background: #2d2d2d;
    padding: 5px 10px;
}
.round_name_text{

}
.round_row{
    align-items: center;
    background: #232323;
    padding: 5px 10px;
    height: 52px;
    box-sizing: border-box;
    border-bottom: 1px solid #3a3a3a;
}
.round_game_data{
    width: 145px;
}
.round_game_teams{
    flex: 1;
    align-items: center;
    justify-content: center;
}
.round_game_1_team{

}
.round_game_1_team_name{
    padding: 0px 20px;
}
/*.round_game_1_team_name:hover{*/
/*  text-decoration: underline;*/
/*}*/
a.team_name:hover{
    text-decoration: underline;
}
.round_game_1_team_result{
    width: 11px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.round_game_ht{
    width: 145px;
    color: #979797;
}
.current_round_cl{
    background: #6d0000;
}
.card_type{
    width: 8px;
    height: 13px;
    border-radius: 2px;
    margin: 0px 5px;
}
.yellow_card{
    background: #f9c91e;
}
.red_card{
    background: #e64646;
}
.team_squad{
    color: #ffffff;
    font-size: 12px;
}
.team_squad_title{
    height: 26px;
    align-items: center;
    background: #404040;
    border-bottom: 1px solid #343434;
}
.team_squad_num{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_squad_name{

}
.team_squad_age{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_squad_lineups{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_squad_goals{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_squad_lineups > img{
    width: 40%;
}
.team_squad_goals > img{
    width: 40%;
}
.team_squad_cards{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_squad_position  > .team_squad_name{
    padding: 0px 20px;
}
.team_squad_position{
    height: 26px;
    align-items: center;
    background: #404040;
    border-bottom: 1px solid #343434;
}
.team_squad_row{
    height: 26px;
    align-items: center;
    border-bottom: 1px solid #343434;
}
.transfers_main{
    font-size: 12px;
    color: #ffffff;
}
.transfers_title{
    height: 26px;
    align-items: center;
    background: #232323;
    border-bottom: 1px solid #343434;
}
.transfers_row{
    height: 30px;
    align-items: center;
    background: #404040;
    border-bottom: 1px solid #343434;
}
.transfer_date{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transfer_team{
    align-items: center;
}
.transfer_team > img{
    width: 20px;
    padding-right: 15px;
}
.live_match_game_res{
    color: #e64646;
}
.inj_row_p{
    padding: 0px 10px;
}
.inj_row{
    margin-top: 25px;
}
.team_squad_logo{
    width: 20px;
    margin-right: 10px;
}
/*.tavo-calendar__code {*/
/*  background: #181818;*/
/*  width: 230px;*/
/*}*/
/*.tavo-calendar__week-names {*/
/*  background-color: #181818;*/
/*}*/
/*.tavo-calendar__day_abs-today {*/
/*  background-color: #00406c;*/
/*}*/
/*.tavo-calendar__header {*/
/*  background-color: #00406c;*/
/*  border: 4px solid #181818;*/
/*  box-sizing: border-box;*/
/*}*/






.pc_none{
    display: none ;
}
.mob_none{
    display: flex;
}
@media screen and (max-width: 480px) {
    .pc_none{
        display: flex ;
    }
    .mob_none{
        display: none;
    }
    #banner_1{
        /*display: none;*/
        height: fit-content;
    }
    #banner_2{
        /*display: none;*/
    }
    #banner_3{
        display: none;
    }
    #banner_4{
        display: none;
    }
    .content {
        width: 95%;
        margin: 0px auto;
    }
    .head_logo > img {
        height: 26px;
    }
    .g_c_name_2 {
        padding: 0px 5px;
    }
    .g_c_name_1 {
        padding: 0px 5px;
    }
    .round_game_data{
        width: 68px;
    }
    .cont_in_leg {
        padding: 0px 0px;
    }
    .round_game_ht {
        width: 63px;
    }
    .result_content {
        font-size: 12px;
    }
    .round_game_1_team_name {
        padding: 0px 5px;
    }
    .head_item{
        padding: 0px;
    }
    .standings_form_item {
        width: 7px;
        height: 7px;
        border-radius: 5px;
    }
    .standings_form {
        width: 50px;
    }
    .standings_t_form {
        width: 50px;
    }
    .transfer_date {
        width: 70px;
    }
    .transfer_team {
        text-align: center;
    }
    .transfer_team > img {
        width: 30px;
        padding-right: 7px;
    }
    .transfer_team {
        text-align: center;
    }
    .team_squad_cards, .team_squad_goals, .team_squad_lineups {
        width: 30px;
    }
    .inj_row_p{
        padding: 0px 5px;
    }
    .team_squad_name {
        align-items: center;
        padding: 0px 6px;
    }
    .team_squad_logo {
        height: 20px;
        margin-right: 7px;
    }
    .row_menu_ss > img {
        width: 26px;
    }
    .row_menu_ss {
        font-size: 8px;
        border: 1px solid #006293;
    }
    .row_menu_lives {
        border-radius: 2px;
        padding: 3px 5px;
        font-size: 7px;
    }
    .game_types {
        font-size: 11px;
    }
    input#startsTime {
        font-size: 11px;
    }
}
.abs_layer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 5555;
    background:rgba(0, 0, 0, 0.44);
    display: none;
}













