<%- include ../../default/header.ejs %>

<section class="">
    <div class="content fl_row main_section">
        <div class="categories_main mob_none">
            <%- include ../../default/components/myLigasList.ejs %>
            <%- include ../../default/components/banners/banner_3.ejs %>
<!--            <%- include ../../default/components/myTeamsStaticText.ejs %>-->
            <%- include ../../default/components/countriesList.ejs %>
        </div>

        <div class="fl_1 games_main">
            <%- include ../../default/components/banners/banner_2.ejs %>
            <div class="games_by_liga cont_in_leg">
                <!--                <img class="loading_main" src="/images/content/loading-png-gif.gif" alt="loading">-->
                <div class="league_mains fl_1 fl_colum">
                    <div class="league_title fl_1 fl_row">
                        <img src="/images/test/football.svg" alt="ball" />
                        <span class="bold_font"><%=language[lang]['football']%></span>
                        <img src="/images/content/chevron-right-white.svg" alt="right" />
                        <% if(data.country.data.image_path){ %>
                        <img src="<%=data.country.data.image_path%>" alt="right" />
                        <%}%>
                        <span><%=data.country.data.name%></span>
                    </div>
                    <div class="league_title fl_1 fl_row">
                        <div class="liga_logo  fl_row">
                            <img src="<%=data.logo_path%>" alt="right" />
                        </div>
                        <div class="liga_name_s font_14 fl_1 fl_colum" data-team-id="<%=data.id%>" data-league-id="">
                            <p><b><%=data.name%></b> </p>
                        </div>
                    </div>
                </div>
                <div class="liague_top_menu fl_1 fl_row">
                    <div class="liague_top_menu_item liague_top_menu_active_item" data-type="2"><%=language[lang]['results']%></div>
                    <div class="liague_top_menu_item" data-type="3"><%=language[lang]['fixtures']%></div>
                    <div class="liague_top_menu_item" data-type="4"><%=language[lang]['transfers']%></div>
                    <div class="liague_top_menu_item" data-type="5"><%=language[lang]['squad']%></div>
                </div>
                <div class="page_result_data fl_1 fl_colum">

                </div>
            </div>
        </div>
        <%- include ../../default/components/banners/banner_4.ejs %>
    </div>
    <script>
        var languages = JSON.parse('<%- JSON.stringify(language) %>');
        var siteLang = getCookie('lang');
    </script>
</section>
<script src="/javascripts/football/setTeamPageContent.js"></script>
<%- include ../../default/footer.ejs %>


<script>

</script>
