<div class="cat_block fl_1 countries_main">
    <div class="cat_title fl_1 fl_row">
        <div><%=language[lang]['countries']%></div>
    </div>
    <% countries.forEach(function(countrie){
        if(countrie.country_name){
    %>
    <div class="cat_row_main">
        <span class="cat_country_name fl_row"><%=countrie.country_name%></span>
    </div>
    <div class="cat_this_leagues">
        <% countrie.leagues.forEach(function(league){ %>
        <a href="/football/league/<%=league.id%>" class="fl_row"><%=league.name%></a>
        <%  }) %>
    </div>
    <% } }) %>
    <div class="countries_more"><%=language[lang]['more']%> <img src="/images/content/angle-down-solid.svg" alt="more"></div>

</div>
