<div class="cat_block fl_1">
    <div class="cat_title fl_1 fl_row">
<!--        <img src="/images/content/star-solid.svg" alt="star" />-->
        <div><%=language[lang]['my_leagues']%></div>
    </div>
    <div class="cat_row_main">
        <% var num = 1; likeLeagues.forEach(function(likeLeague){ %>
        <div class="cat_row fl_1 fl_row">
            <a href="/football/league/<%=likeLeague.sportmonks_id%>" class="cat_row_ss fl_1 fl_row">
                <img src="<%=likeLeague.logo_path%>" alt="<%=likeLeague.name%>" />
                <div><%=likeLeague.name%></div>
            </a>
            <div class="del_leg" data-lid="<%=likeLeague.sportmonks_id%>">
                <img src="/images/content/delete-x.svg" alt="del">
            </div>
        </div>
        <% }) %>
    </div>
</div>
