<div class="cat_block fl_1">
    <div class="cat_title fl_1 fl_row">
        <img src="/images/content/star-solid.svg" alt="star" />
        <div><%=language[lang]['my_teams']%></div>
    </div>
    <div class="cat_row_main">
        <p class="like_teams_text">
             <%=language[lang]['my_teams_text_f']%> <img src='/images/content/star-regular.svg' /> <%=language[lang]['my_teams_text_s']%>
        </p>
    </div>
</div>
